Generated-REST-APIs-Documentation/Samples/MSSQL/mssql-table.json
[
    {
        "id": "afaaa1c2a58aa792",
        "type": "tab",
        "label": "mssql-table",
        "disabled": false,
        "info": ""
    },
    {
        "id": "07ob5c7818h52039",
        "type": "comment",
        "z": "afaaa1c2a58aa792",
        "name": "mssql-table",
        "info": "",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "yvshq86viuf06mw5",
        "type": "comment",
        "z": "afaaa1c2a58aa792",
        "name": "This subflow catches the errors",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "w8vo97jp28699a48",
        "type": "comment",
        "z": "afaaa1c2a58aa792",
        "name": "GetEndPoint (table attributes are query parameters)",
        "info": "",
        "x": 450,
        "y": 390,
        "wires": []
    },
    {
        "id": "ypme08n3wk2lx6p7",
        "type": "comment",
        "z": "afaaa1c2a58aa792",
        "name": "PostEndPoint (request body contains the attributes of the table, no request parameters)",
        "info": "",
        "x": 450,
        "y": 540,
        "wires": []
    },
    {
        "id": "1p8vlx85d37s0527",
        "type": "comment",
        "z": "afaaa1c2a58aa792",
        "name": "PutEndPoint (request body contains the attributes of the table, request parameters the primary key)",
        "info": "",
        "x": 450,
        "y": 690,
        "wires": []
    },
    {
        "id": "148418v7ol1a813p",
        "type": "comment",
        "z": "afaaa1c2a58aa792",
        "name": "DeleteEndPoint (no request body, request parameters contain the primary key)",
        "info": "",
        "x": 450,
        "y": 840,
        "wires": []
    },
    {
        "id": "8a4s32kh52t1sm6p",
        "type": "comment",
        "z": "afaaa1c2a58aa792",
        "name": "DeleteEndPoint (table attributes are query parameters)",
        "info": "",
        "x": 450,
        "y": 990,
        "wires": []
    },
    {
        "id": "wy3t6wg32mw3e516",
        "type": "catch",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 290,
        "wires": [
            [
                "6xi07h438b2isun7"
            ]
        ]
    },
    {
        "id": "6xi07h438b2isun7",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "CreateError",
        "func": "// Store the error message \n// in the payload property.\nmsg.payload = {\n    \"error\" : msg.error.message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 290,
        "wires": [
            [
                "id50m85ru96rws8w"
            ]
        ]
    },
    {
        "id": "id50m85ru96rws8w",
        "type": "http response",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 650,
        "y": 290,
        "wires": []
    },
    {
        "id": "cl0d6xd48e2t90hw",
        "type": "http in",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "url": "/dbo.houses",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "rx8f24rif32wzq75"
            ]
        ]
    },
    {
        "id": "rx8f24rif32wzq75",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryProperties = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (msg.req.query.houseid !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"houseid\", \"propertyValue\" : `${msg.req.query.houseid}`});\n}\n\n\n\nif (msg.req.query.housename !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"housename\", \"propertyValue\" : `${msg.req.query.housename}`});\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "sxipg61x62uivkl3"
            ]
        ]
    },
    {
        "id": "sxipg61x62uivkl3",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "CreateSelectQuery",
        "func": "var selectQuery = \"SELECT * FROM dbo.houses\";\nvar equations = [];\n\nif (msg.queryProperties.length > 0){\n    for (let i = 0; i < msg.queryProperties.length; i++){\n        let equation = \"\";\n        \n        if (msg.queryProperties[i].propertyValue === \"null\"){\n            equation = `${msg.queryProperties[i].propertyName} is ${msg.queryProperties[i].propertyValue}`;\n        } else {\n            equation = \n            `CONVERT(VARCHAR, ${msg.queryProperties[i].propertyName}) = '${msg.queryProperties[i].propertyValue}'`;\n        }\n        \n        equations.push(equation);\n    }\n    \n    var equationsJoined = equations.join(\" AND \");\n    selectQuery += \" WHERE \";\n    selectQuery += `${equationsJoined}`;\n}\n\nselectQuery += \";\";\nmsg.query = selectQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 440,
        "wires": [
            [
                "z9u32x020ttu0x2n"
            ]
        ]
    },
    {
        "id": "z9u32x020ttu0x2n",
        "type": "MSSQL",
        "z": "afaaa1c2a58aa792",
        "mssqlCN": "2m8cqtk680m6v3rx",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "f7wgaxsh618qw154"
            ]
        ]
    },
    {
        "id": "f7wgaxsh618qw154",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\" : response  \n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "69377jho8hb495d7"
            ]
        ]
    },
    {
        "id": "69377jho8hb495d7",
        "type": "http response",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "l8l90p7bp2au11ol",
        "type": "http in",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "url": "/dbo.houses",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 590,
        "wires": [
            [
                "53448cml9uf81036"
            ]
        ]
    },
    {
        "id": "53448cml9uf81036",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryPropertyNames = Object.getOwnPropertyNames(msg.req.body);\n\nif (queryPropertyNames.some(p => !properties.some(p1 => p1 == p))) {\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (msg.req.body.houseid !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"houseid\", \"propertyValue\": `${msg.req.body.houseid}` })\n}\n\nif (msg.req.body.housename !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"housename\", \"propertyValue\": `${msg.req.body.housename}` })\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 590,
        "wires": [
            [
                "416bo0k8619p7mfp"
            ]
        ]
    },
    {
        "id": "416bo0k8619p7mfp",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "CreateInsertQuery",
        "func": "var insertQuery = \"INSERT INTO dbo.houses\";\nvar propertyNames = msg.queryProperties.map(p => p.propertyName);\nvar propertyValues = [];\n\nfor (let i = 0; i < msg.queryProperties.length; i++){\n    if (msg.queryProperties[i].propertyValue === \"null\"){\n        propertyValues.push(msg.queryProperties[i].propertyValue);\n    } else{\n        propertyValues.push(`'${msg.queryProperties[i].propertyValue}'`);\n    }\n}\n\nvar propertyNamesJoined = propertyNames.join(\",\");\nvar propertyValuesJoined = propertyValues.join(\",\");\ninsertQuery += `(${propertyNamesJoined})`;\ninsertQuery += \" VALUES \";\ninsertQuery += `(${propertyValuesJoined})`;\ninsertQuery += \";\";\nconsole.log(insertQuery);\nmsg.query = insertQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 590,
        "wires": [
            [
                "5w31t9o1u063ce03"
            ]
        ]
    },
    {
        "id": "5w31t9o1u063ce03",
        "type": "MSSQL",
        "z": "afaaa1c2a58aa792",
        "mssqlCN": "2m8cqtk680m6v3rx",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 590,
        "wires": [
            [
                "dz8v6sna4tp7x2ib"
            ]
        ]
    },
    {
        "id": "dz8v6sna4tp7x2ib",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 590,
        "wires": [
            [
                "z5y5jsc3e969f074"
            ]
        ]
    },
    {
        "id": "z5y5jsc3e969f074",
        "type": "http response",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "statusCode": 201,
        "headers": {},
        "x": 1650,
        "y": 590,
        "wires": []
    },
    {
        "id": "0iw10qsct45mx8zr",
        "type": "http in",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "url": "/dbo.houses/:houseid",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "4gvy51trr0xl32h9"
            ]
        ]
    },
    {
        "id": "4gvy51trr0xl32h9",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryPropertyNames = Object.getOwnPropertyNames(msg.req.body);\n\nif (msg.req.params.houseid === undefined){\n    throw new Error(\"The query parameter \\'houseid\\' was undefined!\");\n}\n\nif (queryPropertyNames.some(p => !properties.some(p1 => p1 == p))) {\n    throw new Error(\"Invalid query property detected!\");\n}\n\nmsg.pk = {\"propertyName\" : \"houseid\", \"propertyValue\" : msg.req.params.houseid};\n\nif (msg.req.body.houseid !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"houseid\", \"propertyValue\": `${msg.req.body.houseid}` })\n}\n\nif (msg.req.body.housename !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"housename\", \"propertyValue\": `${msg.req.body.housename}` })\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 740,
        "wires": [
            [
                "3mb0c93cd450t15a"
            ]
        ]
    },
    {
        "id": "3mb0c93cd450t15a",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "CreateUpdateQuery",
        "func": "var propertyNames = msg.queryProperties.map(p => p.propertyName);\nvar propertyValues = msg.queryProperties.map(p => p.propertyValue);\nvar equations = [];\n\nfor (let i = 0; i < propertyNames.length; i++){\n    var propertyValue = \"\";\n\n    if (propertyValues[i] === \"null\"){\n        propertyValue = propertyValues[i];\n    } else{\n        propertyValue = `'${propertyValues[i]}'`;\n    }\n\n    var equation = `${propertyNames[i]} = ${propertyValue}`;\n    equations.push(equation);\n}\n\nvar pk = \"\";\n\nif (msg.pk.propertyValue === \"null\"){\n    pk = msg.pk.propertyValue;\n} else{\n    pk = `'${msg.pk.propertyValue}'`;\n}\n\nvar equationsJoined = equations.join(\",\");\nvar updateQuery = `UPDATE dbo.houses SET ${equationsJoined} WHERE ${msg.pk.propertyName} = ${pk};`;\nmsg.query = updateQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 740,
        "wires": [
            [
                "fy1xv44hw3mau421"
            ]
        ]
    },
    {
        "id": "fy1xv44hw3mau421",
        "type": "MSSQL",
        "z": "afaaa1c2a58aa792",
        "mssqlCN": "2m8cqtk680m6v3rx",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 740,
        "wires": [
            [
                "0zbn2q3m0h2tw71u"
            ]
        ]
    },
    {
        "id": "0zbn2q3m0h2tw71u",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "64k31jst4imv419b"
            ]
        ]
    },
    {
        "id": "64k31jst4imv419b",
        "type": "http response",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 740,
        "wires": []
    },
    {
        "id": "4f501krd463vqp5u",
        "type": "http in",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "url": "/dbo.houses/:houseid",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 890,
        "wires": [
            [
                "ycr34xwt2jb5dikw"
            ]
        ]
    },
    {
        "id": "ycr34xwt2jb5dikw",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetQueryParameters",
        "func": "if (msg.req.params.houseid === undefined){\n    throw new Error(\"The query parameter \\'houseid\\' was undefined!\");\n}\n\nvar pkValue = \"\";\n\nif (msg.req.params.houseid === \"null\"){\n    pkValue = null;\n} else{\n    pkValue = msg.req.params.houseid;\n}\n\nvar data = {\n    pk : pkValue\n};\n\nmsg.queryParameters = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 890,
        "wires": [
            [
                "11a64rjll118gfat"
            ]
        ]
    },
    {
        "id": "11a64rjll118gfat",
        "type": "MSSQL",
        "z": "afaaa1c2a58aa792",
        "mssqlCN": "2m8cqtk680m6v3rx",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "DELETE FROM dbo.houses WHERE houseid='{{{queryParameters.pk}}}';",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 750,
        "y": 890,
        "wires": [
            [
                "jwz5z6v8i54448e5"
            ]
        ]
    },
    {
        "id": "jwz5z6v8i54448e5",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 890,
        "wires": [
            [
                "9u0fw79w172r05v2"
            ]
        ]
    },
    {
        "id": "9u0fw79w172r05v2",
        "type": "http response",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1350,
        "y": 890,
        "wires": []
    },
    {
        "id": "g0rrjfi88i1835z0",
        "type": "http in",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "url": "/dbo.houses",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "861g60s456v1635r"
            ]
        ]
    },
    {
        "id": "861g60s456v1635r",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryProperties = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (msg.req.query.houseid !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"houseid\", \"propertyValue\" : `${msg.req.query.houseid}`});\n}\n\n\n\nif (msg.req.query.housename !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"housename\", \"propertyValue\" : `${msg.req.query.housename}`});\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "fq1595v6716j909w"
            ]
        ]
    },
    {
        "id": "fq1595v6716j909w",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "CreateDeleteQuery",
        "func": "var deleteQuery = \"DELETE FROM dbo.houses\";\nvar equations = [];\n\nif (msg.queryProperties.length > 0){\n    for (let i = 0; i < msg.queryProperties.length; i++){\n        let equation = `CONVERT(VARCHAR, ${msg.queryProperties[i].propertyName}) = '${msg.queryProperties[i].propertyValue}'`;\n        equations.push(equation);\n    }\n    \n    var equationsJoined = equations.join(\" AND \");\n    deleteQuery += \" WHERE \";\n    deleteQuery += `${equationsJoined}`;\n}\ndeleteQuery += \";\";\nmsg.query = deleteQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "f10ya79rzfxl0f67"
            ]
        ]
    },
    {
        "id": "f10ya79rzfxl0f67",
        "type": "MSSQL",
        "z": "afaaa1c2a58aa792",
        "mssqlCN": "2m8cqtk680m6v3rx",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 1040,
        "wires": [
            [
                "23s8595v692h4kjn"
            ]
        ]
    },
    {
        "id": "23s8595v692h4kjn",
        "type": "function",
        "z": "afaaa1c2a58aa792",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1040,
        "wires": [
            [
                "2s127sc4brq48rh7"
            ]
        ]
    },
    {
        "id": "2s127sc4brq48rh7",
        "type": "http response",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2m8cqtk680m6v3rx",
        "type": "MSSQL-CN",
        "z": "afaaa1c2a58aa792",
        "name": "",
        "server": "localhost",
        "port": "79",
        "encyption": false,
        "trustServerCertificate": false,
        "database": "master",
        "useUTC": false,
        "connectTimeout": "",
        "requestTimeout": "",
        "cancelTimeout": "",
        "pool": "",
        "parseJSON": false,
        "enableArithAbort": true
    }
]