Generated-REST-APIs-Documentation/Samples/MSSQL/mssql-strp.json
[
    {
        "id": "da3b499e2e0ac582",
        "type": "tab",
        "label": "mssql-strp"
    },
    {
        "id": "l87in12j0p98uvjk",
        "type": "comment",
        "z": "da3b499e2e0ac582",
        "name": "mssql-strp",
        "info": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "6fwo8169et3l83sp",
        "type": "comment",
        "z": "da3b499e2e0ac582",
        "name": "This subflow catches the errors",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "x1b33hng6t689658",
        "type": "comment",
        "z": "da3b499e2e0ac582",
        "name": "GetEndPoint (procedure parameters are query parameters)",
        "info": "",
        "x": 450,
        "y": 390,
        "wires": []
    },
    {
        "id": "sr3ki3u5znf69e0j",
        "type": "catch",
        "z": "da3b499e2e0ac582",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 290,
        "wires": [
            [
                "4nv64v0755bf4iue"
            ]
        ]
    },
    {
        "id": "4nv64v0755bf4iue",
        "type": "function",
        "z": "da3b499e2e0ac582",
        "name": "CreateError",
        "func": "// Store the error message \n// in the payload property.\nmsg.payload = {\n    \"error\" : msg.error.message\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 290,
        "wires": [
            [
                "9ysw62v36azwpo3g"
            ]
        ]
    },
    {
        "id": "9ysw62v36azwpo3g",
        "type": "http response",
        "z": "da3b499e2e0ac582",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 650,
        "y": 290,
        "wires": []
    },
    {
        "id": "7fswdd2kifh2071d",
        "type": "http in",
        "z": "da3b499e2e0ac582",
        "name": "",
        "url": "/dbo.pr_test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "h5730l5oceabds3p"
            ]
        ]
    },
    {
        "id": "h5730l5oceabds3p",
        "type": "function",
        "z": "da3b499e2e0ac582",
        "name": "CheckProcedureParameters",
        "func": "var queryParameters = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryParameters.some(p => p != \"param\")) {\n    throw new Error(\"Invalid query parameter detected!\");\n}\n\nif (msg.req.query.param === undefined) {\n    throw new Error(\"The parameters were not defined!\");\n}\n\nmsg.procedureParameters = [];\nvar params = msg.req.query.param;\n\nfor (let i = 0; i < params.length; i++) {\n    msg.procedureParameters.push(params[i]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "di7242d76jd9im7k"
            ]
        ]
    },
    {
        "id": "di7242d76jd9im7k",
        "type": "function",
        "z": "da3b499e2e0ac582",
        "name": "SetQueryParametersForMetadata",
        "func": "msg.queryParameters = {\n    \"schema\" : \"dbo\",\n    \"procName\" : \"pr_test\"\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 440,
        "wires": [
            [
                "qx8ikj9w9422d1co"
            ]
        ]
    },
    {
        "id": "qx8ikj9w9422d1co",
        "type": "MSSQL",
        "z": "da3b499e2e0ac582",
        "mssqlCN": "fn90gd1bjpryq10u",
        "name": "ProcParametersQuery",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT parameter_name\r\nFROM information_schema.routines r\r\nINNER JOIN information_schema.parameters p\r\nON p.specific_name = r.routine_name\r\nWHERE r.routine_schema = '{{{queryParameters.schema}}}'\r\nAND r.routine_type = 'PROCEDURE'\r\nAND p.parameter_mode <> 'OUT'\r\nAND r.specific_name = '{{{queryParameters.procName}}}'",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "i746li9aogzkmg2p"
            ]
        ]
    },
    {
        "id": "i746li9aogzkmg2p",
        "type": "function",
        "z": "da3b499e2e0ac582",
        "name": "SetProcParameterNames",
        "func": "msg.paramNames = [];\n\nfor (let i = 0; i < msg.payload.length; i++) {\n    var paramName = msg.payload[i].parameter_name;\n\n    if (paramName[0] == '@') {\n        paramName = paramName.slice(1);\n    }\n\n    msg.paramNames.push(paramName);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "d6k7s0u8p3pcyuhi"
            ]
        ]
    },
    {
        "id": "d6k7s0u8p3pcyuhi",
        "type": "function",
        "z": "da3b499e2e0ac582",
        "name": "SetParametersForProcedureQuery",
        "func": "msg.queryParams = [];\n\nfor (let i = 0; i < msg.procedureParameters.length; i++){\n    if (msg.procedureParameters[i] === \"default\"){\n        continue;\n    }\n    \n    var value = msg.procedureParameters[i];\n\n    if (value === \"null\"){\n        value = null;\n    }\n    \n    var param = {\n      \"output\" : false,\n      \"name\" : msg.paramNames[i],\n      \"type\" : null,\n      \"value\" : value,\n      \"options\" : {\n          \"nullable\" : true,\n          \"primary\" : false,\n          \"identity\" : false,\n          \"readOnly\" : false\n       }\n   };\n   \n   msg.queryParams.push(param);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 440,
        "wires": [
            [
                "ijf3s2jw49g9owi3"
            ]
        ]
    },
    {
        "id": "ijf3s2jw49g9owi3",
        "type": "MSSQL",
        "z": "da3b499e2e0ac582",
        "mssqlCN": "fn90gd1bjpryq10u",
        "name": "Query",
        "outField": "payload",
        "returnType": 1,
        "throwErrors": 1,
        "query": "dbo.pr_test",
        "modeOpt": "",
        "modeOptType": "execute",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1950,
        "y": 440,
        "wires": [
            [
                "428745s20u3wedqp"
            ]
        ]
    },
    {
        "id": "428745s20u3wedqp",
        "type": "switch",
        "z": "da3b499e2e0ac582",
        "name": "CheckReturnValue",
        "property": "payload.returnValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 2250,
        "y": 440,
        "wires": [
            [
                "cpm6z950k172rp0l"
            ],
            [
                "cpm6z950k172rp0l"
            ],
            [
                "903o6ky835348pt2"
            ]
        ]
    },
    {
        "id": "cpm6z950k172rp0l",
        "type": "function",
        "z": "da3b499e2e0ac582",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\" : response.recordsets\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 340,
        "wires": [
            [
                "ff76i9m2b27h9b46"
            ]
        ]
    },
    {
        "id": "ff76i9m2b27h9b46",
        "type": "http response",
        "z": "da3b499e2e0ac582",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 2850,
        "y": 340,
        "wires": []
    },
    {
        "id": "903o6ky835348pt2",
        "type": "function",
        "z": "da3b499e2e0ac582",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\" : response.recordsets\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 540,
        "wires": [
            [
                "7f0yj02sm577707r"
            ]
        ]
    },
    {
        "id": "7f0yj02sm577707r",
        "type": "http response",
        "z": "da3b499e2e0ac582",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 2850,
        "y": 540,
        "wires": []
    },
    {
        "id": "fn90gd1bjpryq10u",
        "type": "MSSQL-CN",
        "z": "da3b499e2e0ac582",
        "name": "",
        "server": "localhost",
        "port": "79",
        "encyption": false,
        "trustServerCertificate": false,
        "database": "master",
        "useUTC": false,
        "connectTimeout": "",
        "requestTimeout": "",
        "cancelTimeout": "",
        "pool": "",
        "parseJSON": false,
        "enableArithAbort": true
    }
]