Generated-REST-APIs-Documentation/Samples/MSSQL/mssql-function.json
[
    {
        "id": "3e919c68e8f03158",
        "type": "tab",
        "label": "mssql-function"
    },
    {
        "id": "u03c4qj1csb6758o",
        "type": "comment",
        "z": "3e919c68e8f03158",
        "name": "mssql-function",
        "info": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "5egc1n58z52hizli",
        "type": "comment",
        "z": "3e919c68e8f03158",
        "name": "This subflow catches the errors",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "8035mb9hvx2292b7",
        "type": "comment",
        "z": "3e919c68e8f03158",
        "name": "GetEndPoint (function parameters are query parameters)",
        "info": "",
        "x": 450,
        "y": 390,
        "wires": []
    },
    {
        "id": "l7da6a2cd19rhq33",
        "type": "catch",
        "z": "3e919c68e8f03158",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 290,
        "wires": [
            [
                "w81b1c1bo2ha752d"
            ]
        ]
    },
    {
        "id": "w81b1c1bo2ha752d",
        "type": "function",
        "z": "3e919c68e8f03158",
        "name": "CreateError",
        "func": "// Store the error message \n// in the payload property.\nmsg.payload = {\n    \"error\" : msg.error.message\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 290,
        "wires": [
            [
                "272f92b8hf505t09"
            ]
        ]
    },
    {
        "id": "272f92b8hf505t09",
        "type": "http response",
        "z": "3e919c68e8f03158",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 650,
        "y": 290,
        "wires": []
    },
    {
        "id": "7797dt9vdpthdtx2",
        "type": "http in",
        "z": "3e919c68e8f03158",
        "name": "",
        "url": "/dbo.tvf_test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "4d6k6y6hn6i8u7w9"
            ]
        ]
    },
    {
        "id": "4d6k6y6hn6i8u7w9",
        "type": "function",
        "z": "3e919c68e8f03158",
        "name": "CheckFunctionParameters",
        "func": "var queryParameters = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryParameters.some(p => p != \"param\")){\n    throw new Error(\"Invalid query parameter detected!\");\n}\n\nif (msg.req.query.param === undefined){\n    throw new Error(\"The parameters were not defined!\");\n}\n\nmsg.functionParameters = [];\nvar params = msg.req.query.param;\n\nfor (let i = 0; i < params.length; i++){\n    msg.functionParameters.push(params[i]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "s5735475m7o3tftn"
            ]
        ]
    },
    {
        "id": "s5735475m7o3tftn",
        "type": "function",
        "z": "3e919c68e8f03158",
        "name": "SetQueryParameters",
        "func": "var selectQuery = \"SELECT * FROM dbo.tvf_test(\";\nvar functionArgs = [];\n\nif (msg.functionParameters.length > 0) {\n    for (let i = 0; i < msg.functionParameters.length; i++) {\n      if (msg.functionParameters[i] === \"default\") {\n          functionArgs.push(`${msg.functionParameters[i]}`);\n          continue;\n       } \n\n       if (msg.functionParameters[i] === \"null\"){\n           functionArgs.push(`${msg.functionParameters[i]}`);\n           continue;\n       }\n\n       functionArgs.push(`'${msg.functionParameters[i]}'`);\n    }\n}\n\nselectQuery += functionArgs.join(\",\");\nselectQuery += \");\";\nmsg.query = selectQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 440,
        "wires": [
            [
                "867clm7rf3yj9233"
            ]
        ]
    },
    {
        "id": "867clm7rf3yj9233",
        "type": "MSSQL",
        "z": "3e919c68e8f03158",
        "mssqlCN": "38qkiyu736o476p8",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "7u01hu7sq3ko7o22"
            ]
        ]
    },
    {
        "id": "7u01hu7sq3ko7o22",
        "type": "function",
        "z": "3e919c68e8f03158",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\" : response  \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "f0z019r2xc26wy60"
            ]
        ]
    },
    {
        "id": "f0z019r2xc26wy60",
        "type": "http response",
        "z": "3e919c68e8f03158",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "38qkiyu736o476p8",
        "type": "MSSQL-CN",
        "z": "3e919c68e8f03158",
        "name": "",
        "server": "localhost",
        "port": "79",
        "encyption": false,
        "trustServerCertificate": false,
        "database": "master",
        "useUTC": false,
        "connectTimeout": "",
        "requestTimeout": "",
        "cancelTimeout": "",
        "pool": "",
        "parseJSON": false,
        "enableArithAbort": true
    }
]