Generated-REST-APIs-Documentation/Samples/MSSQL/mssql-table.json
[
    {
        "id": "5228ffde86159ba9",
        "type": "tab",
        "label": "mssql-table"
    },
    {
        "id": "sf1931676d11d2bv",
        "type": "comment",
        "z": "5228ffde86159ba9",
        "name": "mssql-table",
        "info": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "7e532u8pi9ee9oo4",
        "type": "comment",
        "z": "5228ffde86159ba9",
        "name": "This subflow catches the errors",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "t9em2lw7o1055vch",
        "type": "comment",
        "z": "5228ffde86159ba9",
        "name": "GetEndPoint (table attributes are query parameters)",
        "info": "",
        "x": 450,
        "y": 390,
        "wires": []
    },
    {
        "id": "13v74uty06o46ar7",
        "type": "comment",
        "z": "5228ffde86159ba9",
        "name": "PostEndPoint (request body contains the attributes of the table, no request parameters)",
        "info": "",
        "x": 450,
        "y": 540,
        "wires": []
    },
    {
        "id": "m354px65729wgr03",
        "type": "comment",
        "z": "5228ffde86159ba9",
        "name": "PutEndPoint (request body contains the attributes of the table, request parameters the primary key)",
        "info": "",
        "x": 450,
        "y": 690,
        "wires": []
    },
    {
        "id": "8962qmjyj07ypc6d",
        "type": "comment",
        "z": "5228ffde86159ba9",
        "name": "DeleteEndPoint (no request body, request parameters contain the primary key)",
        "info": "",
        "x": 450,
        "y": 840,
        "wires": []
    },
    {
        "id": "ti2h33w900vhdtv4",
        "type": "comment",
        "z": "5228ffde86159ba9",
        "name": "DeleteEndPoint (table attributes are query parameters)",
        "info": "",
        "x": 450,
        "y": 990,
        "wires": []
    },
    {
        "id": "cdna03sxd115l2d6",
        "type": "catch",
        "z": "5228ffde86159ba9",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 290,
        "wires": [
            [
                "9ot64b30t7l11oge"
            ]
        ]
    },
    {
        "id": "9ot64b30t7l11oge",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "CreateError",
        "func": "// Store the error message \n// in the payload property.\nmsg.payload = {\n    \"error\" : msg.error.message\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 290,
        "wires": [
            [
                "56r0dxc74x963e70"
            ]
        ]
    },
    {
        "id": "56r0dxc74x963e70",
        "type": "http response",
        "z": "5228ffde86159ba9",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 650,
        "y": 290,
        "wires": []
    },
    {
        "id": "2651r5495794x2l1",
        "type": "http in",
        "z": "5228ffde86159ba9",
        "name": "",
        "url": "/dbo.houses",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "2532c6t1iur3tg9t"
            ]
        ]
    },
    {
        "id": "2532c6t1iur3tg9t",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryProperties = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (msg.req.query.houseid !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"houseid\", \"propertyValue\" : `${msg.req.query.houseid}`});\n}\n\nif (msg.req.query.housename !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"housename\", \"propertyValue\" : `${msg.req.query.housename}`});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "gb7d65t86wm1f711"
            ]
        ]
    },
    {
        "id": "gb7d65t86wm1f711",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "CreateSelectQuery",
        "func": "var selectQuery = \"SELECT * FROM dbo.houses\";\nvar equations = [];\n\nif (msg.queryProperties.length > 0){\n    for (let i = 0; i < msg.queryProperties.length; i++){\n        let equation = \"\";\n        \n        if (msg.queryProperties[i].propertyValue === \"null\"){\n            equation = `${msg.queryProperties[i].propertyName} is ${msg.queryProperties[i].propertyValue}`;\n        } else {\n            equation = \n            `CONVERT(VARCHAR, ${msg.queryProperties[i].propertyName}) = '${msg.queryProperties[i].propertyValue}'`;\n        }\n        \n        equations.push(equation);\n    }\n    \n    var equationsJoined = equations.join(\" AND \");\n    selectQuery += \" WHERE \";\n    selectQuery += `${equationsJoined}`;\n}\n\nselectQuery += \";\";\nmsg.query = selectQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 440,
        "wires": [
            [
                "s7ru7l9gu0c414b9"
            ]
        ]
    },
    {
        "id": "s7ru7l9gu0c414b9",
        "type": "MSSQL",
        "z": "5228ffde86159ba9",
        "mssqlCN": "oh5bi20d7je9700z",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "hih43i8wg5fhv123"
            ]
        ]
    },
    {
        "id": "hih43i8wg5fhv123",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\" : response  \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "747fa2fpke64nefy"
            ]
        ]
    },
    {
        "id": "747fa2fpke64nefy",
        "type": "http response",
        "z": "5228ffde86159ba9",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "h7xl2gym5ztyqpuz",
        "type": "http in",
        "z": "5228ffde86159ba9",
        "name": "",
        "url": "/dbo.houses",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 590,
        "wires": [
            [
                "g69p132np3lixdl4"
            ]
        ]
    },
    {
        "id": "g69p132np3lixdl4",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryPropertyNames = Object.getOwnPropertyNames(msg.req.body);\n\nif (queryPropertyNames.some(p => !properties.some(p1 => p1 == p))) {\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (msg.req.body.houseid !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"houseid\", \"propertyValue\": `${msg.req.body.houseid}` })\n}\n\nif (msg.req.body.housename !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"housename\", \"propertyValue\": `${msg.req.body.housename}` })\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 590,
        "wires": [
            [
                "w1258gh7zn90elj0"
            ]
        ]
    },
    {
        "id": "w1258gh7zn90elj0",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "CreateInsertQuery",
        "func": "var insertQuery = \"INSERT INTO dbo.houses\";\nvar propertyNames = msg.queryProperties.map(p => p.propertyName);\nvar propertyValues = [];\n\nfor (let i = 0; i < msg.queryProperties.length; i++){\n    if (msg.queryProperties[i].propertyValue === \"null\"){\n        propertyValues.push(msg.queryProperties[i].propertyValue);\n    } else{\n        propertyValues.push(`'${msg.queryProperties[i].propertyValue}'`);\n    }\n}\n\nvar propertyNamesJoined = propertyNames.join(\",\");\nvar propertyValuesJoined = propertyValues.join(\",\");\ninsertQuery += `(${propertyNamesJoined})`;\ninsertQuery += \" VALUES \";\ninsertQuery += `(${propertyValuesJoined})`;\ninsertQuery += \";\";\nconsole.log(insertQuery);\nmsg.query = insertQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 590,
        "wires": [
            [
                "zih3h817q76148a6"
            ]
        ]
    },
    {
        "id": "zih3h817q76148a6",
        "type": "MSSQL",
        "z": "5228ffde86159ba9",
        "mssqlCN": "oh5bi20d7je9700z",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 590,
        "wires": [
            [
                "8wmv4vm61j44qw86"
            ]
        ]
    },
    {
        "id": "8wmv4vm61j44qw86",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 590,
        "wires": [
            [
                "xz86wh12329tn80s"
            ]
        ]
    },
    {
        "id": "xz86wh12329tn80s",
        "type": "http response",
        "z": "5228ffde86159ba9",
        "name": "",
        "statusCode": 201,
        "headers": {},
        "x": 1650,
        "y": 590,
        "wires": []
    },
    {
        "id": "kv4e93m2810ll76l",
        "type": "http in",
        "z": "5228ffde86159ba9",
        "name": "",
        "url": "/dbo.houses/:houseid",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "hjx22u189qjz13d6"
            ]
        ]
    },
    {
        "id": "hjx22u189qjz13d6",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryPropertyNames = Object.getOwnPropertyNames(msg.req.body);\n\nif (msg.req.params.houseid === undefined){\n    throw new Error(\"The query parameter \\'houseid\\' was undefined!\");\n}\n\nif (queryPropertyNames.some(p => !properties.some(p1 => p1 == p))) {\n    throw new Error(\"Invalid query property detected!\");\n}\n\nmsg.pk = {\"propertyName\" : \"houseid\", \"propertyValue\" : msg.req.params.houseid};\n\nif (msg.req.body.houseid !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"houseid\", \"propertyValue\": `${msg.req.body.houseid}` })\n}\n\nif (msg.req.body.housename !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"housename\", \"propertyValue\": `${msg.req.body.housename}` })\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 740,
        "wires": [
            [
                "sk46ap54s1wpjf67"
            ]
        ]
    },
    {
        "id": "sk46ap54s1wpjf67",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "CreateUpdateQuery",
        "func": "var propertyNames = msg.queryProperties.map(p => p.propertyName);\nvar propertyValues = msg.queryProperties.map(p => p.propertyValue);\nvar equations = [];\n\nfor (let i = 0; i < propertyNames.length; i++){\n    var propertyValue = \"\";\n\n    if (propertyValues[i] === \"null\"){\n        propertyValue = propertyValues[i];\n    } else{\n        propertyValue = `'${propertyValues[i]}'`;\n    }\n\n    var equation = `${propertyNames[i]} = ${propertyValue}`;\n    equations.push(equation);\n}\n\nvar pk = \"\";\n\nif (msg.pk.propertyValue === \"null\"){\n    pk = msg.pk.propertyValue;\n} else{\n    pk = `'${msg.pk.propertyValue}'`;\n}\n\nvar equationsJoined = equations.join(\",\");\nvar updateQuery = `UPDATE dbo.houses SET ${equationsJoined} WHERE ${msg.pk.propertyName} = ${pk};`;\nmsg.query = updateQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 740,
        "wires": [
            [
                "7k103u8ynq7swb1b"
            ]
        ]
    },
    {
        "id": "7k103u8ynq7swb1b",
        "type": "MSSQL",
        "z": "5228ffde86159ba9",
        "mssqlCN": "oh5bi20d7je9700z",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 740,
        "wires": [
            [
                "x9r3gs9g572p6xa7"
            ]
        ]
    },
    {
        "id": "x9r3gs9g572p6xa7",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "ye15uk9s4gotr9l2"
            ]
        ]
    },
    {
        "id": "ye15uk9s4gotr9l2",
        "type": "http response",
        "z": "5228ffde86159ba9",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 740,
        "wires": []
    },
    {
        "id": "tk71s8ys2n47q943",
        "type": "http in",
        "z": "5228ffde86159ba9",
        "name": "",
        "url": "/dbo.houses/:houseid",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 890,
        "wires": [
            [
                "07i95n831601t7eo"
            ]
        ]
    },
    {
        "id": "07i95n831601t7eo",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetQueryParameters",
        "func": "if (msg.req.params.houseid === undefined){\n    throw new Error(\"The query parameter \\'houseid\\' was undefined!\");\n}\n\nvar pkValue = \"\";\n\nif (msg.req.params.houseid === \"null\"){\n    pkValue = null;\n} else{\n    pkValue = msg.req.params.houseid;\n}\n\nvar data = {\n    pk : pkValue\n};\n\nmsg.queryParameters = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 890,
        "wires": [
            [
                "83cbpy52ey136hez"
            ]
        ]
    },
    {
        "id": "83cbpy52ey136hez",
        "type": "MSSQL",
        "z": "5228ffde86159ba9",
        "mssqlCN": "oh5bi20d7je9700z",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "DELETE FROM dbo.houses WHERE houseid='{{{queryParameters.pk}}}';",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 750,
        "y": 890,
        "wires": [
            [
                "2p181xt633l2jmf4"
            ]
        ]
    },
    {
        "id": "2p181xt633l2jmf4",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 890,
        "wires": [
            [
                "eoo476u654e6q3gg"
            ]
        ]
    },
    {
        "id": "eoo476u654e6q3gg",
        "type": "http response",
        "z": "5228ffde86159ba9",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1350,
        "y": 890,
        "wires": []
    },
    {
        "id": "751ll51g4z4d2d20",
        "type": "http in",
        "z": "5228ffde86159ba9",
        "name": "",
        "url": "/dbo.houses",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "o3q1hu3uj2u76jhm"
            ]
        ]
    },
    {
        "id": "o3q1hu3uj2u76jhm",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryProperties = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (msg.req.query.houseid !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"houseid\", \"propertyValue\" : `${msg.req.query.houseid}`});\n}\n\nif (msg.req.query.housename !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"housename\", \"propertyValue\" : `${msg.req.query.housename}`});\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "zk2ny81ed830be98"
            ]
        ]
    },
    {
        "id": "zk2ny81ed830be98",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "CreateDeleteQuery",
        "func": "var deleteQuery = \"DELETE FROM dbo.houses\";\nvar equations = [];\n\nif (msg.queryProperties.length > 0){\n    for (let i = 0; i < msg.queryProperties.length; i++){\n        let equation = \"\";\n\n        if (msg.queryProperties[i].propertyValue === \"null\") {\n            equation = `${msg.queryProperties[i].propertyName} is ${msg.queryProperties[i].propertyValue}`;\n        } else {\n            equation = `CONVERT(VARCHAR, ${msg.queryProperties[i].propertyName}) = '${msg.queryProperties[i].propertyValue}'`;\n        }\n\n        equations.push(equation);\n    }\n    \n    var equationsJoined = equations.join(\" AND \");\n    deleteQuery += \" WHERE \";\n    deleteQuery += `${equationsJoined}`;\n}\n\ndeleteQuery += \";\";\nmsg.query = deleteQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "odzfbkez2avrd4p7"
            ]
        ]
    },
    {
        "id": "odzfbkez2avrd4p7",
        "type": "MSSQL",
        "z": "5228ffde86159ba9",
        "mssqlCN": "oh5bi20d7je9700z",
        "name": "Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "query",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 1050,
        "y": 1040,
        "wires": [
            [
                "fr7731fat6kw5jpt"
            ]
        ]
    },
    {
        "id": "fr7731fat6kw5jpt",
        "type": "function",
        "z": "5228ffde86159ba9",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1040,
        "wires": [
            [
                "c5xu65xnfx23862w"
            ]
        ]
    },
    {
        "id": "c5xu65xnfx23862w",
        "type": "http response",
        "z": "5228ffde86159ba9",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 1040,
        "wires": []
    },
    {
        "id": "oh5bi20d7je9700z",
        "type": "MSSQL-CN",
        "z": "5228ffde86159ba9",
        "name": "",
        "server": "localhost",
        "port": "79",
        "encyption": false,
        "trustServerCertificate": false,
        "database": "master",
        "useUTC": false,
        "connectTimeout": "",
        "requestTimeout": "",
        "cancelTimeout": "",
        "pool": "",
        "parseJSON": false,
        "enableArithAbort": true
    }
]