Generated-REST-APIs-Documentation/Samples/PostgreSQL/postgres-strp.json
[
    {
        "id": "5c4e4f40b43e93d2",
        "type": "tab",
        "label": "postgres-strp",
        "disabled": false,
        "info": ""
    },
    {
        "id": "q665hzec0tnxzx10",
        "type": "comment",
        "z": "5c4e4f40b43e93d2",
        "name": "postgres-strp",
        "info": "",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "199581v1ib6kdag8",
        "type": "comment",
        "z": "5c4e4f40b43e93d2",
        "name": "This subflow catches the errors",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "v554vk4bw7ol9u0d",
        "type": "comment",
        "z": "5c4e4f40b43e93d2",
        "name": "GetEndPoint (procedure parameters are query parameters)",
        "info": "",
        "x": 450,
        "y": 390,
        "wires": []
    },
    {
        "id": "16q4x6bj7fg2c517",
        "type": "catch",
        "z": "5c4e4f40b43e93d2",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 290,
        "wires": [
            [
                "3y9fjc1r5d422v89"
            ]
        ]
    },
    {
        "id": "3y9fjc1r5d422v89",
        "type": "function",
        "z": "5c4e4f40b43e93d2",
        "name": "CreateError",
        "func": "// Store the error message \n// in the payload property.\nmsg.payload = {\n    \"error\" : msg.error.message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 290,
        "wires": [
            [
                "c3633lyxbip14ye7"
            ]
        ]
    },
    {
        "id": "c3633lyxbip14ye7",
        "type": "http response",
        "z": "5c4e4f40b43e93d2",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 650,
        "y": 290,
        "wires": []
    },
    {
        "id": "2q64okuv9r8a1wm8",
        "type": "http in",
        "z": "5c4e4f40b43e93d2",
        "name": "",
        "url": "/public.count_procedure3",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "wb7c6oqw7u19492v"
            ]
        ]
    },
    {
        "id": "wb7c6oqw7u19492v",
        "type": "function",
        "z": "5c4e4f40b43e93d2",
        "name": "CheckProcedureParameters",
        "func": "var queryParameters = Object.getOwnPropertyNames(msg.req.query);\nif (queryParameters.some(p => p != \"param\")) {\n    throw new Error(\"Invalid query parameter detected!\");\n}\n\nif (msg.req.query.param === undefined) {\n    throw new Error(\"The parameters were not defined!\");\n}\n\n\nmsg.procedureParameters = [];\nvar params = msg.req.query.param;\n\nfor (let i = 0; i < params.length; i++) {\n    msg.procedureParameters.push(params[i]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "0gavy0f267u5ne3p"
            ]
        ]
    },
    {
        "id": "0gavy0f267u5ne3p",
        "type": "function",
        "z": "5c4e4f40b43e93d2",
        "name": "CreateProcedureQuery",
        "func": "var callProcedureQuery = \"CALL public.count_procedure3(\";\nvar queryParams = [];\n\nfor (let i = 0; i < msg.procedureParameters.length; i++){\n    if (msg.procedureParameters[i] === \"default\"){\n        continue;\n    }\n\n    if (msg.procedureParameters[i] === \"null\"){\n        queryParams.push(msg.procedureParameters[i]);\n        continue;\n    }\n  \n    queryParams.push(`'${msg.procedureParameters[i]}'`);\n}\n\ncallProcedureQuery += queryParams.join(\",\");\ncallProcedureQuery += \");\";\nmsg.query = callProcedureQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 440,
        "wires": [
            [
                "e2c15rn2pin31270"
            ]
        ]
    },
    {
        "id": "e2c15rn2pin31270",
        "type": "postgresql",
        "z": "5c4e4f40b43e93d2",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "c4sj0m9q69e3p21p",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "d4t78d7ky01x7094"
            ]
        ]
    },
    {
        "id": "d4t78d7ky01x7094",
        "type": "function",
        "z": "5c4e4f40b43e93d2",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\" : response  \n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "p865254qhb02xm0q"
            ]
        ]
    },
    {
        "id": "p865254qhb02xm0q",
        "type": "http response",
        "z": "5c4e4f40b43e93d2",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "c4sj0m9q69e3p21p",
        "type": "postgreSQLConfig",
        "z": "5c4e4f40b43e93d2",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "secret",
        "passwordFieldType": "str"
    }
]