Generated-REST-APIs-Documentation/Samples/PostgreSQL/postgres-strp.json
[
    {
        "id": "8d638bcc60f3709a",
        "type": "tab",
        "label": "postgres-strp"
    },
    {
        "id": "095qm8hp9ob0z23e",
        "type": "comment",
        "z": "8d638bcc60f3709a",
        "name": "postgres-strp",
        "info": "",
        "x": 450,
        "y": 140,
        "wires": []
    },
    {
        "id": "6j5ja4ix489d267t",
        "type": "comment",
        "z": "8d638bcc60f3709a",
        "name": "This subflow catches the errors",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "851mko0n7t64k2u9",
        "type": "comment",
        "z": "8d638bcc60f3709a",
        "name": "GetEndPoint (procedure parameters are query parameters)",
        "info": "",
        "x": 450,
        "y": 390,
        "wires": []
    },
    {
        "id": "i87667f771pzz9h9",
        "type": "catch",
        "z": "8d638bcc60f3709a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 290,
        "wires": [
            [
                "1904m8dy78g4nu72"
            ]
        ]
    },
    {
        "id": "1904m8dy78g4nu72",
        "type": "function",
        "z": "8d638bcc60f3709a",
        "name": "CreateError",
        "func": "// Store the error message \n// in the payload property.\nmsg.payload = {\n    \"error\" : msg.error.message\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 290,
        "wires": [
            [
                "5guyu62fiz6p1d05"
            ]
        ]
    },
    {
        "id": "5guyu62fiz6p1d05",
        "type": "http response",
        "z": "8d638bcc60f3709a",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 650,
        "y": 290,
        "wires": []
    },
    {
        "id": "zx348v6bi98h3ci9",
        "type": "http in",
        "z": "8d638bcc60f3709a",
        "name": "",
        "url": "/public.count_procedure3",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "6l1a8o6r1yo5w4eo"
            ]
        ]
    },
    {
        "id": "6l1a8o6r1yo5w4eo",
        "type": "function",
        "z": "8d638bcc60f3709a",
        "name": "CheckProcedureParameters",
        "func": "var queryParameters = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryParameters.some(p => p != \"param\")) {\n    throw new Error(\"Invalid query parameter detected!\");\n}\n\nif (msg.req.query.param === undefined) {\n    throw new Error(\"The parameters were not defined!\");\n}\n\nmsg.procedureParameters = [];\nvar params = msg.req.query.param;\n\nfor (let i = 0; i < params.length; i++) {\n    msg.procedureParameters.push(params[i]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "9lh6o7u5rdfb4kw1"
            ]
        ]
    },
    {
        "id": "9lh6o7u5rdfb4kw1",
        "type": "function",
        "z": "8d638bcc60f3709a",
        "name": "CreateProcedureQuery",
        "func": "var callProcedureQuery = \"CALL public.count_procedure3(\";\nvar queryParams = [];\n\nfor (let i = 0; i < msg.procedureParameters.length; i++){\n    if (msg.procedureParameters[i] === \"default\"){\n        continue;\n    }\n\n    if (msg.procedureParameters[i] === \"null\"){\n        queryParams.push(msg.procedureParameters[i]);\n        continue;\n    }\n  \n    queryParams.push(`'${msg.procedureParameters[i]}'`);\n}\n\ncallProcedureQuery += queryParams.join(\",\");\ncallProcedureQuery += \");\";\nmsg.query = callProcedureQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 440,
        "wires": [
            [
                "v023qe1133hf7zeq"
            ]
        ]
    },
    {
        "id": "v023qe1133hf7zeq",
        "type": "postgresql",
        "z": "8d638bcc60f3709a",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "37a86t64fbi0i74u",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "9hqnz773c26lq3j2"
            ]
        ]
    },
    {
        "id": "9hqnz773c26lq3j2",
        "type": "function",
        "z": "8d638bcc60f3709a",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\" : response  \n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "8321wj42wu2m4eqf"
            ]
        ]
    },
    {
        "id": "8321wj42wu2m4eqf",
        "type": "http response",
        "z": "8d638bcc60f3709a",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "37a86t64fbi0i74u",
        "type": "postgreSQLConfig",
        "z": "8d638bcc60f3709a",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "secret",
        "passwordFieldType": "str"
    }
]