Generated-REST-APIs-Documentation/Samples/PostgreSQL/postgres-function.json
[
    {
        "id": "a874822715d2d38d",
        "type": "tab",
        "label": "postgres-function",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6yci69h79j3d1537",
        "type": "comment",
        "z": "a874822715d2d38d",
        "name": "postgres-function",
        "info": "",
        "x": 480,
        "y": 140,
        "wires": []
    },
    {
        "id": "2g904wfrfsa30eu6",
        "type": "comment",
        "z": "a874822715d2d38d",
        "name": "This subflow catches the errors",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "217l4k5944psft71",
        "type": "comment",
        "z": "a874822715d2d38d",
        "name": "GetEndPoint (function parameters are query parameters)",
        "info": "",
        "x": 450,
        "y": 390,
        "wires": []
    },
    {
        "id": "6qjq685zrp3k0569",
        "type": "catch",
        "z": "a874822715d2d38d",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 290,
        "wires": [
            [
                "o8dq787jlq9omhei"
            ]
        ]
    },
    {
        "id": "o8dq787jlq9omhei",
        "type": "function",
        "z": "a874822715d2d38d",
        "name": "CreateError",
        "func": "// Store the error message \n// in the payload property.\nmsg.payload = {\n    \"error\" : msg.error.message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 290,
        "wires": [
            [
                "6nuttu704e5ms870"
            ]
        ]
    },
    {
        "id": "6nuttu704e5ms870",
        "type": "http response",
        "z": "a874822715d2d38d",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 650,
        "y": 290,
        "wires": []
    },
    {
        "id": "5jg299s0813iyg8t",
        "type": "http in",
        "z": "a874822715d2d38d",
        "name": "",
        "url": "/public.tvf_test",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "5uv63sinzzd9tyu7"
            ]
        ]
    },
    {
        "id": "5uv63sinzzd9tyu7",
        "type": "function",
        "z": "a874822715d2d38d",
        "name": "CheckFunctionParameters",
        "func": "var queryParameters = Object.getOwnPropertyNames(msg.req.query);\nif (queryParameters.some(p => p != \"param\")){\n    throw new Error(\"Invalid query parameter detected!\");\n}\n\nif (msg.req.query.param === undefined){\n    throw new Error(\"The parameters were not defined!\");\n}\n\n\nmsg.functionParameters = [];\nvar params = msg.req.query.param;\n\nfor (let i = 0; i < params.length; i++){\n    msg.functionParameters.push(params[i]);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "06dsug81hw0mzf7r"
            ]
        ]
    },
    {
        "id": "06dsug81hw0mzf7r",
        "type": "function",
        "z": "a874822715d2d38d",
        "name": "SetQueryParameters",
        "func": "var selectQuery = \"SELECT * FROM public.tvf_test(\";\nvar functionArgs = [];\n\nif (msg.functionParameters.length > 0){\n    for (let i = 0; i < msg.functionParameters.length; i++){\n        if (msg.functionParameters[i] === \"default\"){\n          continue;\n        }\n\n        if (msg.functionParameters[i] === \"null\") {\n          functionArgs.push(msg.functionParameters[i]);\n          continue;\n        }\n\n        functionArgs.push(`'${msg.functionParameters[i]}'`);\n    }\n}\n\nselectQuery += functionArgs.join(\",\");\nselectQuery += \");\";\nmsg.query = selectQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 440,
        "wires": [
            [
                "26l9e6x7u1lv46ij"
            ]
        ]
    },
    {
        "id": "26l9e6x7u1lv46ij",
        "type": "postgresql",
        "z": "a874822715d2d38d",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "pf9zw680mdb3l065",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "7tc2op54e0t85rtf"
            ]
        ]
    },
    {
        "id": "7tc2op54e0t85rtf",
        "type": "function",
        "z": "a874822715d2d38d",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\" : response  \n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "3l6gl88b0lnaj73r"
            ]
        ]
    },
    {
        "id": "3l6gl88b0lnaj73r",
        "type": "http response",
        "z": "a874822715d2d38d",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "pf9zw680mdb3l065",
        "type": "postgreSQLConfig",
        "z": "a874822715d2d38d",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "secret",
        "passwordFieldType": "str"
    }
]