Generated-REST-APIs-Documentation/Samples/PostgreSQL/postgres-view.json
[
    {
        "id": "72a635d0a669601a",
        "type": "tab",
        "label": "postgres-view",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6x846g415tfrsof5",
        "type": "comment",
        "z": "72a635d0a669601a",
        "name": "postgres-view",
        "info": "",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "u2bw9c9sqh9ojq5t",
        "type": "comment",
        "z": "72a635d0a669601a",
        "name": "This subflow catches the errors",
        "info": "",
        "x": 450,
        "y": 240,
        "wires": []
    },
    {
        "id": "f7i6vbi0oi6sh196",
        "type": "comment",
        "z": "72a635d0a669601a",
        "name": "GetEndPoint (view attributes are query parameters)",
        "info": "",
        "x": 450,
        "y": 390,
        "wires": []
    },
    {
        "id": "jxj1oha001u70rkl",
        "type": "comment",
        "z": "72a635d0a669601a",
        "name": "PostEndPoint (request body contains the attributes of the view, no request parameters)",
        "info": "",
        "x": 450,
        "y": 540,
        "wires": []
    },
    {
        "id": "970f57vo203l5l6r",
        "type": "comment",
        "z": "72a635d0a669601a",
        "name": "PutEndPoint (request body contains the attributes of the view, request parameters the primary key)",
        "info": "",
        "x": 450,
        "y": 690,
        "wires": []
    },
    {
        "id": "1p173jkirhxvof2z",
        "type": "comment",
        "z": "72a635d0a669601a",
        "name": "DeleteEndPoint (no request body, request parameters contain the primary key)",
        "info": "",
        "x": 450,
        "y": 840,
        "wires": []
    },
    {
        "id": "ve66j626w5492d3n",
        "type": "comment",
        "z": "72a635d0a669601a",
        "name": "DeleteEndPoint (view attributes are query parameters)",
        "info": "",
        "x": 450,
        "y": 990,
        "wires": []
    },
    {
        "id": "28v218xis1kd3ciu",
        "type": "catch",
        "z": "72a635d0a669601a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 150,
        "y": 290,
        "wires": [
            [
                "20au9nbo0s83j9b4"
            ]
        ]
    },
    {
        "id": "20au9nbo0s83j9b4",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "CreateError",
        "func": "// Store the error message \n// in the payload property.\nmsg.payload = {\n    \"error\" : msg.error.message\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 290,
        "wires": [
            [
                "o3n2m5c1db729475"
            ]
        ]
    },
    {
        "id": "o3n2m5c1db729475",
        "type": "http response",
        "z": "72a635d0a669601a",
        "name": "",
        "statusCode": 400,
        "headers": {},
        "x": 650,
        "y": 290,
        "wires": []
    },
    {
        "id": "c9cq6zf8ksz8sd57",
        "type": "http in",
        "z": "72a635d0a669601a",
        "name": "",
        "url": "/public.housesview",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "x9ols117qfx9eqyd"
            ]
        ]
    },
    {
        "id": "x9ols117qfx9eqyd",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryProperties = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (msg.req.query.houseid !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"houseid\", \"propertyValue\" : `${msg.req.query.houseid}`});\n}\n\n\n\nif (msg.req.query.housename !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"housename\", \"propertyValue\" : `${msg.req.query.housename}`});\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 440,
        "wires": [
            [
                "027r7my99s9d0jv5"
            ]
        ]
    },
    {
        "id": "027r7my99s9d0jv5",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "CreateSelectQuery",
        "func": "var selectQuery = \"SELECT * FROM public.housesview\";\nvar equations = [];\n\nif (msg.queryProperties.length > 0){\n    for (let i = 0; i < msg.queryProperties.length; i++){\n        let equation = \"\";\n        \n        if (msg.queryProperties[i].propertyValue === \"null\"){\n            equation = `${msg.queryProperties[i].propertyName} is ${msg.queryProperties[i].propertyValue}`;\n        } else {\n            equation = `${msg.queryProperties[i].propertyName} = '${msg.queryProperties[i].propertyValue}'`;\n        }\n        \n        equations.push(equation);\n    }\n    \n    var equationsJoined = equations.join(\" AND \");\n    selectQuery += \" WHERE \";\n    selectQuery += `${equationsJoined}`;\n}\n\nselectQuery += \";\";\nmsg.query = selectQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 440,
        "wires": [
            [
                "a0d21090h49uc546"
            ]
        ]
    },
    {
        "id": "a0d21090h49uc546",
        "type": "postgresql",
        "z": "72a635d0a669601a",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "33gzq215643t4z1z",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "80291050vmr1by59"
            ]
        ]
    },
    {
        "id": "80291050vmr1by59",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetResponse",
        "func": "var response = msg.payload;\nmsg.payload = {\n  \"result\" : response  \n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "6m3764i349cs307l"
            ]
        ]
    },
    {
        "id": "6m3764i349cs307l",
        "type": "http response",
        "z": "72a635d0a669601a",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 440,
        "wires": []
    },
    {
        "id": "286ax4c53cq0bhor",
        "type": "http in",
        "z": "72a635d0a669601a",
        "name": "",
        "url": "/public.housesview",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 590,
        "wires": [
            [
                "18n10gb0nmt2avvc"
            ]
        ]
    },
    {
        "id": "18n10gb0nmt2avvc",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryPropertyNames = Object.getOwnPropertyNames(msg.req.body);\n\nif (queryPropertyNames.some(p => !properties.some(p1 => p1 == p))) {\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (msg.req.body.houseid !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"houseid\", \"propertyValue\": `${msg.req.body.houseid}` })\n}\n\nif (msg.req.body.housename !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"housename\", \"propertyValue\": `${msg.req.body.housename}` })\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 590,
        "wires": [
            [
                "n9yd86f2s09774o8"
            ]
        ]
    },
    {
        "id": "n9yd86f2s09774o8",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "CreateInsertQuery",
        "func": "var insertQuery = \"INSERT INTO public.housesview\";\nvar propertyNames = msg.queryProperties.map(p => p.propertyName);\nvar propertyValues = [];\n\nfor (let i = 0; i < msg.queryProperties.length; i++){\n    if (msg.queryProperties[i].propertyValue === \"null\"){\n        propertyValues.push(msg.queryProperties[i].propertyValue);\n    } else{\n        propertyValues.push(`'${msg.queryProperties[i].propertyValue}'`);\n    }\n}\n\nvar propertyNamesJoined = propertyNames.join(\",\");\nvar propertyValuesJoined = propertyValues.join(\",\");\ninsertQuery += `(${propertyNamesJoined})`;\ninsertQuery += \" VALUES \";\ninsertQuery += `(${propertyValuesJoined})`;\ninsertQuery += \";\";\nconsole.log(insertQuery);\nmsg.query = insertQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 590,
        "wires": [
            [
                "y8m98713o652h9i5"
            ]
        ]
    },
    {
        "id": "y8m98713o652h9i5",
        "type": "postgresql",
        "z": "72a635d0a669601a",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "33gzq215643t4z1z",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 590,
        "wires": [
            [
                "c18po0cs82fl6z1h"
            ]
        ]
    },
    {
        "id": "c18po0cs82fl6z1h",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 590,
        "wires": [
            [
                "p74146gv361v0400"
            ]
        ]
    },
    {
        "id": "p74146gv361v0400",
        "type": "http response",
        "z": "72a635d0a669601a",
        "name": "",
        "statusCode": 201,
        "headers": {},
        "x": 1650,
        "y": 590,
        "wires": []
    },
    {
        "id": "6bh84prxolf75l31",
        "type": "http in",
        "z": "72a635d0a669601a",
        "name": "",
        "url": "/public.housesview/:houseid",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "10y010u33k30zp63"
            ]
        ]
    },
    {
        "id": "10y010u33k30zp63",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryPropertyNames = Object.getOwnPropertyNames(msg.req.body);\n\nif (msg.req.params.houseid === undefined){\n    throw new Error('The query parameter \\'houseid\\' was undefined!');\n}\n\nif (queryPropertyNames.some(p => !properties.some(p1 => p1 == p))) {\n    throw new Error(\"Invalid query property detected!\");\n}\n\nmsg.pk = {\"propertyName\" : \"houseid\", \"propertyValue\" : msg.req.params.houseid};\n\nif (msg.req.body.houseid !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"houseid\", \"propertyValue\": `${msg.req.body.houseid}` })\n}\n\nif (msg.req.body.housename !== undefined){\n    msg.queryProperties.push({ \"propertyName\": \"housename\", \"propertyValue\": `${msg.req.body.housename}` })\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 740,
        "wires": [
            [
                "p91ta1ysws512b9d"
            ]
        ]
    },
    {
        "id": "p91ta1ysws512b9d",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "CreateUpdateQuery",
        "func": "var propertyNames = msg.queryProperties.map(p => p.propertyName);\nvar propertyValues = msg.queryProperties.map(p => p.propertyValue);\nvar equations = [];\n\nfor (let i = 0; i < propertyNames.length; i++){\n    var propertyValue = \"\";\n\n    if (propertyValues[i] === \"null\"){\n        propertyValue = propertyValues[i];\n    } else{\n        propertyValue = `'${propertyValues[i]}'`;\n    }\n\n    var equation = `${propertyNames[i]} = ${propertyValue}`;\n    equations.push(equation);\n}\n\nvar pk = \"\";\n\nif (msg.pk.propertyValue === \"null\"){\n    pk = msg.pk.propertyValue;\n} else{\n    pk = `'${msg.pk.propertyValue}'`;\n}\n\nvar equationsJoined = equations.join(\",\");\nvar updateQuery = `UPDATE public.housesview SET ${equationsJoined} WHERE ${msg.pk.propertyName} = ${pk};`;\nmsg.query = updateQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 740,
        "wires": [
            [
                "5xg5yr3jmz57xo46"
            ]
        ]
    },
    {
        "id": "5xg5yr3jmz57xo46",
        "type": "postgresql",
        "z": "72a635d0a669601a",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "33gzq215643t4z1z",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 740,
        "wires": [
            [
                "jret423yn7379bw3"
            ]
        ]
    },
    {
        "id": "jret423yn7379bw3",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "w328c1a38c00clfk"
            ]
        ]
    },
    {
        "id": "w328c1a38c00clfk",
        "type": "http response",
        "z": "72a635d0a669601a",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 740,
        "wires": []
    },
    {
        "id": "6u6mv11d484sdeo5",
        "type": "http in",
        "z": "72a635d0a669601a",
        "name": "",
        "url": "/public.housesview/:houseid",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 890,
        "wires": [
            [
                "w35j3n5x3n8q030n"
            ]
        ]
    },
    {
        "id": "w35j3n5x3n8q030n",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetQueryParameters",
        "func": "if (msg.req.params.houseid === undefined){\n    throw new Error(\"The query parameter \\'houseid\\' was undefined!\");\n}\n\nvar pkValue = \"\";\n\nif (msg.req.params.houseid === \"null\"){\n    pkValue = null;\n} else{\n    pkValue = msg.req.params.houseid;\n}\n\nvar data = {\n    pk : pkValue\n};\n\nmsg.queryParameters = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 890,
        "wires": [
            [
                "t19fs995q73105wq"
            ]
        ]
    },
    {
        "id": "t19fs995q73105wq",
        "type": "postgresql",
        "z": "72a635d0a669601a",
        "name": "Query",
        "query": "DELETE FROM public.housesview WHERE houseid = $pk;",
        "postgreSQLConfig": "33gzq215643t4z1z",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 750,
        "y": 890,
        "wires": [
            [
                "a0foha99yh8zg240"
            ]
        ]
    },
    {
        "id": "a0foha99yh8zg240",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 890,
        "wires": [
            [
                "l2557t23038oh7a4"
            ]
        ]
    },
    {
        "id": "l2557t23038oh7a4",
        "type": "http response",
        "z": "72a635d0a669601a",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1350,
        "y": 890,
        "wires": []
    },
    {
        "id": "oacvlmy6s6s20i1h",
        "type": "http in",
        "z": "72a635d0a669601a",
        "name": "",
        "url": "/public.housesview",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "sbt0h9jz9753p1p7"
            ]
        ]
    },
    {
        "id": "sbt0h9jz9753p1p7",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetQueryParameters",
        "func": "msg.queryProperties = [];\nvar properties = [\"houseid\",\"housename\"];\nvar queryProperties = Object.getOwnPropertyNames(msg.req.query);\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (queryProperties.some(p => !properties.some(p1 => p1 == p))){\n    throw new Error(\"Invalid query property detected!\");\n}\n\nif (msg.req.query.houseid !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"houseid\", \"propertyValue\" : `${msg.req.query.houseid}`});\n}\n\n\n\nif (msg.req.query.housename !== undefined){\n    msg.queryProperties.push({\"propertyName\": \"housename\", \"propertyValue\" : `${msg.req.query.housename}`});\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1040,
        "wires": [
            [
                "w7q430hlothj0723"
            ]
        ]
    },
    {
        "id": "w7q430hlothj0723",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "CreateDeleteQuery",
        "func": "var deleteQuery = \"DELETE FROM public.housesview\";\nvar equations = [];\n\nif (msg.queryProperties.length > 0){\n    for (let i = 0; i < msg.queryProperties.length; i++){\n        let equation = '';\n        \n        if (msg.queryProperties[i].propertyValue === \"null\"){\n            equation = `${msg.queryProperties[i].propertyName} is ${msg.queryProperties[i].propertyValue}`;\n        } else {\n            equation = `${msg.queryProperties[i].propertyName} = '${msg.queryProperties[i].propertyValue}'`;\n        }\n        \n        equations.push(equation);\n    }\n    \n    var equationsJoined = equations.join(\" AND \");\n    deleteQuery += \" WHERE \";\n    deleteQuery += `${equationsJoined}`;\n}\n\ndeleteQuery += \";\";\nmsg.query = deleteQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1040,
        "wires": [
            [
                "3c432u3mq8y6x2kh"
            ]
        ]
    },
    {
        "id": "3c432u3mq8y6x2kh",
        "type": "postgresql",
        "z": "72a635d0a669601a",
        "name": "Query",
        "query": "",
        "postgreSQLConfig": "33gzq215643t4z1z",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1050,
        "y": 1040,
        "wires": [
            [
                "f1t0y2814z5qec0h"
            ]
        ]
    },
    {
        "id": "f1t0y2814z5qec0h",
        "type": "function",
        "z": "72a635d0a669601a",
        "name": "SetResponse",
        "func": "msg.payload = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1040,
        "wires": [
            [
                "kk1847h119yu2gzb"
            ]
        ]
    },
    {
        "id": "kk1847h119yu2gzb",
        "type": "http response",
        "z": "72a635d0a669601a",
        "name": "",
        "statusCode": 200,
        "headers": {},
        "x": 1650,
        "y": 1040,
        "wires": []
    },
    {
        "id": "33gzq215643t4z1z",
        "type": "postgreSQLConfig",
        "z": "72a635d0a669601a",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "admin",
        "userFieldType": "str",
        "password": "secret",
        "passwordFieldType": "str"
    }
]